<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">

    <h2>♥ About Me ♥</h2>

     <% if current_customer.image.attached? %>
       <%= image_tag current_customer.get_image(100,100) %>
  　 <% else %>
       <%= image_tag 'no_image.jpg', size: "100x100" %>
     <% end %>

     <table class="table">
      <tbody>

        <tr>
         <th>♥ Name</th>
         <th><%= current_customer.name %></th>
        </tr>

        <tr>
         <th>♥ Address</th>
         <th><%= current_customer.address %></th>
        </tr>

        <tr>
         <th>♥ Age</th>
         <th><%= current_customer.age %></th>
        </tr>

        <tr>
         <th>♥ 推し(推しグループ・メンバー) ♥</th>
         <th><%= current_customer.oshi_name %></th>
        </tr>

        <tr>
         <th>♥ 自己紹介 ♥</th>
         <th><%= current_customer.introduction %></th>
        </tr>

      </tbody>
     </table>

     <%= link_to edit_public_customer_path(current_customer.id), class:'btn btn-outline-secondary btn-block edit_user_77129' do%>
      会員情報編集
      <%end%>


    <h2 class="mt-3">♥ New Post ♥</h2>
     <%= form_with model: @post, url: public_posts_path do |f| %>

     <div class="form-group">
      <p>推し（推しグループ・メンバー名）</p>
       <%= f.text_field :oshi_name %>
      </div>

     <div class="form-group">
      <p>募集名</p>
       <%= f.text_field :post_name %>
      </div>

     <div class="form-group">
      <p>募集内容</p>
        <%= f.text_area :post_content %>
     </div>

     <div>
       <%= f.submit '投稿', class: 'btn btn-success' %>
     </div>
     <% end %>
  </div>